
#jquery-ui-slider-value-1{
	border: 0;
	color: red !important;
	font-weight:bold;
	background-color: transparent;
	margin: 5px;
}
#jquery-ui-slider-1{
	margin: 0 10px;
	width: 300px;
}

#jquery-ui-slider-value-2{
	border: 0;
	color: red !important;
	font-weight:bold;
	background-color: transparent;
	margin: 5px;
}
#jquery-ui-slider-2{
	margin: 0 10px;
	width: 300px;
}

#jquery-ui-slider-value-3{
	border: 0;
	color: red !important;
	font-weight:bold;
	background-color: transparent;
	margin: 5px;
}
#jquery-ui-slider-3{
	margin: 0 10px;
	width: 300px;
}

#jquery-ui-slider-value-4{
	border: 0;
	color: red !important;
	font-weight:bold;
	background-color: transparent;
	margin: 5px;
}
#jquery-ui-slider-4{
	margin: 0 10px;
	width: 300px;
}

#jquery-ui-slider-value-5{
	border: 0;
	color: red !important;
	font-weight:bold;
	background-color: transparent;
	margin: 5px;
}
#jquery-ui-slider-5{
	margin: 0 10px;
	width: 300px;
}

