<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv = "Pragma" content = "no-cache">
        <meta http-equiv = "Cache-Control" content ="no-cache">
        <link type = "text/css" rel = "stylesheet" href = "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/cupertino/jquery-ui.min.css"/>
        <script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src = "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

        <link href ="{{ STATIC_URL }}bootstrap3/css/bootstrap.min.css" rel = "stylesheet" media ="screen">
        <script src = "{{ STATIC_URL }}bootstrap3/js/bootstrap.min.js"></script>
        <title>Boobs Designer</title>
        {% block extraheader %}
        {% endblock %}
    </head>
<body>
    <!-- Navigation var -->
    <nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Boobs Designer</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href = "{% url 'index' %}">Closoid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "{% url 'boobs_blender' %}">Blender</a>
                </li>
                <li class="nav-item">
                    <a href = "{% url 'IGA' %}">IGA</a>
                </li>
            </ul>
    </nav>
    {% block content %}
    {% endblock %}
    </body>
</html>
