{% extends "base.html" %}

{% block extraheader%}
<link rel="stylesheet" type="text/css" href = "{{ STATIC_URL }}css/ui-slider.css" media="all">
<script type = "text/javascript" src = "{{ STATIC_URL }}javascript/ui-slider.js"></script>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Closoid curve</h3>
    </div>
    <div class="panel-body">
        適当なパラメータを選んでSUBMITボタンを押してね
    </div>
</div>



<form action = "/boobs_designer/update/" method = "post">
{% csrf_token %}
    <ul>
        <li style = "float:left;">
            <p>おっぱいの大きさ<input type="text"name = "wheel_radius" id = "jquery-ui-slider-value-1"/></p>
            <div id = "jquery-ui-slider-1"></div>

            <p>おっぱいのたれ具合<input type="text" name = "begin" id = "jquery-ui-slider-value-3"/></p>
            <div id = "jquery-ui-slider-3"></div>

            <p>ポリゴンの細かさ<input type="text" name = "point_num" id = "jquery-ui-slider-value-4"/></p>
            <div id = "jquery-ui-slider-4"></div>

            <p>おっぱいの長さ<input type="text" name = "breast_wide" id = "jquery-ui-slider-value-5"/></p>
            <div id = "jquery-ui-slider-5"></div>

            <p style = "visibility: hidden;">begining_point<input type="text"name = "begining_point" id = "jquery-ui-slider-value-2"/></p>
            <div style = "visibility: hidden;"id = "jquery-ui-slider-2"></div>

            <input type = "submit" class = "btn btn-primary" id = "send" value = "SUBMIT"/>
            <a id ="loading_status"></a>
        </li>
</form>

    </ul>
    <div id = "canvas" ></div>
    <script src="{{ STATIC_URL }}three/three.min.js"></script>
    <script src="{{ STATIC_URL }}three/OBJLoader.js"></script>
    <script src="{{ STATIC_URL }}three/TrackballControls.js"></script>
    <script src="{{ STATIC_URL }}three/CanvasRenderer.js"></script>
    <script src="{{ STATIC_URL }}three/Projector.js"></script>
<script>
var main = function(){
    var node = document.getElementById("canvas");
    var scene = new THREE.Scene();
    /**********CAMERA***********/
    var width = 300;
    var height = 200;
    var fov = 60;
    var aspect=width/height;
    var near = 10;
    var far = 1000;
    var camera = new THREE.PerspectiveCamera( fov, aspect, near, far);
    camera.position.set(0,0,500);
    /*********Trackball Controls********/
    var controls = new THREE.TrackballControls(camera,node);
    /*********SCREEN***************/
    //var renderer = new THREE.WebGLRenderer();
    var renderer = new THREE.CanvasRenderer({alpha:true});
    renderer.setSize(width, height);
    node.appendChild( renderer.domElement);
    renderer.setClearColor( 0x000000, 0);
    /********LIGHT*****************/
    var light = new THREE.DirectionalLight( 0xffcc66 ,1.3);
    light.position.set( -50, -50, -50 );
    scene.add( light );
    var light2 = new THREE.DirectionalLight( 0x996600 );
    light2.position.set( 50, 50, 21 );
    scene.add( light2 );
    
    /**********OBJECT(MESH)****************/
    var mesh;
    var loader = new THREE.OBJLoader();
    loader.load(
        '{{ STATIC_URL }}OBJfile/model2.obj',
        function( res) {
            mesh = res;
            scene.add(mesh);
            renderer.render( scene, camera);
        }
    );
    
    (function renderLoop(){
        requestAnimationFrame(renderLoop);
        controls.update();
        renderer.render( scene, camera);
    })();
};
window.addEventListener('DOMContentLoaded',main, false);
</script>

{% endblock %}
