
{% block content %}


		<style>
			* {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
			}

			body {
				color: #000;
				font-family:Monospace;
				font-size:13px;

				background-color: #fff;
				margin: 0px;
			}

			#info {
				top: 0px; width: 100%;
				padding: 5px;
				text-align:center;
			}

			#content {
				position: fixed;
				top: 0px; width: 100%;
				z-index: 1;
				padding: 3em 0 0 0;
			}

			a {
				color: #0080ff;
			}

			#c {
				position: absolute;
				left: 0px;
				width: 100%;
				height: 100%;
			}
			
			.list-item {
				display: inline-block;
				margin: 1em;
				padding: 1em;
				box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
			}

			.list-item .cc {
				position: fixed;
				left: 0px;
				width: 100%;
				height: 100%;
			}
			
			.list-item .scene {
				width: 200px;
				height: 200px;
			}

		</style>
	</head>
	<body>


		<div id="content">
		</div>

		<script src="{{ STATIC_URL }}three/build/three.min.js"></script>
		<script src="{{ STATIC_URL }}three/examples/js/controls/OrbitControls.js"></script>

		<script src="{{ STATIC_URL }}three/examples/js/Detector.js"></script>
    	<script src="{{ STATIC_URL }}three/examples/js/loaders/OBJLoader.js"></script>
    	<script src="{{ STATIC_URL }}three/src/loaders/ImageLoader.js"></script>
    	<script src="{{ STATIC_URL }}three/examples/js/controls/TrackballControls.js"></script>

		<script id="template" type="notjs">
			<div class="scene" id = "te"></div>
			<form action = "/boobs_designer/execIGA/" method = "post">
			{% csrf_token %}
            	<input type = "submit" value = "SUBMIT"/>
			</form>
		</script>
		
		<canvas class="cc" id="c"></canvas>
		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var canvas;

			var scenes = [], renderer;

			init();
			animate();

			function init() {


				var object = new THREE.Mesh();
    			var loader = new THREE.OBJLoader();
				
				var V_num = 3
				var scene = new Array(V_num);
				var template = document.getElementById( "template" ).text;
				var content = document.getElementById( "content" );

				for ( var i =  0; i < V_num; i ++ ) {
					
					scene[i] = new THREE.Scene();

					// make a list item
					var element = document.createElement( "div" );
					element.className = "list-item";
					element.innerHTML = template;
				//	element.innerHTML = template.replace( '$', i );

					// Look up the element that represents the area
					// we want to render the scene
					scene[i].userData.element = element.querySelector( ".scene");
					//canvas = element.querySelector(".cc");
					canvas = document.getElementById("c");
					//scene[i].userData.element = canvas;
					console.log(element);
					content.appendChild( element );

    				var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
    				camera.position = new THREE.Vector3(0, 0, 8);
    				camera.lookAt(new THREE.Vector3(0, 100, 0));
					camera.position.z = 200;
					scene[i].userData.camera = camera;

					var controls = new THREE.OrbitControls( scene[i].userData.camera, scene[i].userData.element );
					controls.minDistance = 50;
					controls.maxDistance = 200;
					controls.enablePan = false;
					controls.enableZoom = true;
					scene[i].userData.controls = controls;	
					var file_place = '{{ STATIC_URL }}OBJfile/iga/iga'+i+'.obj';
    				loader.load( file_place , function ( object ) {
						var select_scene;
						var break_flag = false;
						for(var k = 0; k < V_num; k++){
							var count = 0;
							for(var j in scene[k]){
								count = count+1;
								if( count == 5){
									if(scene[k][j].length <= V_num){
										select_scene = k;
										break_flag = true;
										break;
									} 
								}
							}
							if(break_flag) break;
						}
						scene[select_scene].add(object);
						//for(var j in scene[select_scene]){
						//	console.log(scene[select_scene][j]);
						//}
        				object.position.set(-30,0,0);
        				object.rotation.y = -0.5/Math.PI;
    				});
					var file_place = '{{ STATIC_URL }}OBJfile/iga/iga'+i+'.obj';
    				loader.load( file_place , function ( object ) {
						var select_scene;
						var break_flag = false;
						for(var k = 0; k < V_num; k++){
							var count = 0;
							for(var j in scene[k]){
								count = count+1;
								if( count == 5){
									if(scene[k][j].length == V_num+1){
										select_scene = k;
										break_flag = true;
										break;
									} 
								}
							}
							if(break_flag) break;
						}
						scene[select_scene].add(object);
        				object.position.set(30,0,0);
        				object.rotation.y = 0.5/Math.PI;
    				});


    				light = new THREE.DirectionalLight( 0xffcc66 ,1.3);
    				light.position.set( -100, -100, -100 );
    				scene[i].add( light );
				    light2 = new THREE.DirectionalLight( 0x996600 );
				    light2.position.set( 100, 100, 21 );
				    scene[i].add( light2 );

					var light = new THREE.DirectionalLight( 0xffffff, 0.5 );
					light.position.set( 1, 1, 1 );
					scene[i].add( light );

					scenes.push( scene[i] );

				}


				renderer = new THREE.WebGLRenderer( { canvas: canvas, antialias: true } );
				renderer.setClearColor( 0xffffff, 1 );
				renderer.setPixelRatio( window.devicePixelRatio );

			}

			function updateSize() {

				var width = canvas.clientWidth;
				var height = canvas.clientHeight;

				if ( canvas.width !== width || canvas.height != height ) {

					renderer.setSize( width, height, false );

				}

			}

			function animate() {

				render();
				requestAnimationFrame( animate );

			}

			function render() {
				updateSize();

				renderer.setClearColor( 0xffffff );
				renderer.setScissorTest( false );
				renderer.clear();

				renderer.setClearColor( 0xe0e0e0 );
				renderer.setScissorTest( true );

				scenes.forEach( function( scene ) {

					// so something moves
					//scene.children[0].rotation.y = Date.now() * 0.001;

					// get the element that is a place holder for where we want to
					// draw the scene
					var element = scene.userData.element;

					// get its position relative to the page's viewport
					var rect = element.getBoundingClientRect();

					// check if it's offscreen. If so skip it
					if ( rect.bottom < 0 || rect.top  > renderer.domElement.clientHeight ||
						 rect.right  < 0 || rect.left > renderer.domElement.clientWidth ) {

						return;  // it's off screen

					}

					// set the viewport
					var width  = rect.right - rect.left;
					var height = rect.bottom - rect.top;
					var left   = rect.left;
					var bottom = renderer.domElement.clientHeight - rect.bottom;

					renderer.setViewport( left, bottom, width, height );
					renderer.setScissor( left, bottom, width, height );
					var camera = scene.userData.camera;

					//camera.aspect = width / height; // not changing in this example
					//camera.updateProjectionMatrix();

					//scene.userData.controls.update();

					renderer.render( scene, camera );

				} );

			}

		</script>

	</body>

{% endblock %}
